body {
    background : black ;
    color : white;
      font-family :'Times New Roman', Times, serif;
}
h1 {
    font-size: 36px;
    color: #333;
}
h2 {
    font-size: 26px;
    color: #333;
}
header {
    background : white ;
    color : black ;
    text-align : center; 
    width : auto;
    margin-bottom : 30px;
    padding : 50px ;
    border : 2px solid rgb(242, 11, 11) ; 
   

}
.stickyheader{
     position: sticky;
     top: 0;

}
.menu ul{
    display : flex;
    list-style: none;
    gap: 25px;
    margin: 0;

}
.menu li{
    flex : 1;
    text-align: center;
}
.menu a {
    color: rgb(9, 8, 8);
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: orange;
}
main {
    background : white ;
    color : black ;
  
    width : auto;
    margin-bottom : 10px ;
    padding : 10px ;
    border : 2px solid rgb(11, 161, 242) ; 

}
#Connect {
    
    background : #8fdb82 ;
    color : black ;
    font-style : italic;
    font-size : 30px;
    width : auto;
    margin-top : 30px;
    
    border : 2px solid rgb(212, 7, 14) ; 
    

}
.features {
    display : flex ;
    
    list-style : none;
    gap : 20px;
    padding : 0;
}
.features li{
    flex : 1;
    text-align: center;
}
.features img {
    width: 80px;
    height: 80px;
    margin: 15px;
    border-radius: 10px;
    
}
.expList {
    display : flex ;
    list-style : none;
    gap : 20px;
    border : 2px solid red;
    padding : 0;

}
.expList li {
    flex : 1;
    background: #8fdb82;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}
#skills ul {
  display: flex;
  flex-wrap: wrap;     /* Allows items to drop to the next line on small screens */
  gap: 12px;           /* Puts spacing between the items */
  padding: 0;
  list-style: none;    /* Removes the default bullet points */
}
#skills li {
  background-color : #8fdb82;
  color: #333333;
  padding: 8px 16px;
  border-radius: 20px; /* Makes them look like rounded pills */
  font-size: 0.95rem;
  font-weight: 500;
}